/*Fontkészletek*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');

/*
        változók deklarálása
        */
:root {
    --orange: #ffb32f;
    --dark: #1e283c;
    --base-text: #818181;
    --lightgrey: #f7f7f7;
    --shadow: #e1e1e1;

    /*fő font*/
    --main-text: 'Open Sans', sans-serif;
    --alt-text: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}
p {
    margin:1.5em auto;
}
html, body {
    height: 100%;
    font-family: var(--main-text);
    color: var(--base-text);
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: var(--alt-text);
    color: var(--dark);
}

section {
    padding: 80px 0;
}

/*mobilefirst*/
.hide {
    display: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

#hero {
    background: var(--base-text) url("/images/03.jpg") center no-repeat;
    background-size: cover;
    height: 100%;
    background-blend-mode: multiply;
}

#hero > .container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.hero-title {
    font-size: 18px;
}

.hero-rotator {
    position: relative;
    display: inline-block;
    padding: .2em 0;
    height: 1em;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--lightgrey);
}
   

.hero-rotator span {
    position: absolute;
    left: 4.1rem;
    opacity: 0;
    white-space: nowrap;
    display: inline-block;
    clip-path: inset(0 100% 0 0); /* Elrejti a szöveget */
}

.hero-rotator span {
    color: var(--orange);
}

#hero > .container > p {
    color: var(--lightgrey);
    margin: 20px 0 30px 0;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 21px;
    width: 100%;
}

/*sticky fejléc*/
#main-header.sticky {
    position: fixed;
    top: 0;
    background-color: #fff;
}

.sticky .main-menu a {
    color: var(--dark);
}

/*menü mobilon ne látszódjon alapból*/
.menu-toggle {
    position: absolute;
    cursor: pointer;
    right: 2rem;
    top: 25px;
    color: var(--orange);
}

.flex-container {
    display: flex;
    flex-flow: column;
}

/*gombok*/
.btn {
    align-self: flex-start;
    background: var(--orange);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 15px;
    transition: background 500ms ease-in-out;
    font-size: 12px;
}

.btn:hover {
    background: var(--dark);
}

/*logo*/
.logo {
    flex: 1;
}

.logo > h2 {
    color:var(--dark);
    padding-top: 20px;
    font-family: "Orbitron", sans-serif;}

/*Menü stílusok*/
#main-header {
    border-bottom: 1px solid var(--orange);
    box-shadow: 0 0 7px rgba(0, 0, 0, .5); /*x-offset y-offset size color*/
    position: absolute;
    width: 100%;
    z-index: 10;
    min-height: 72px;
}

.main-menu li {
    padding: 0 15px;
}
.main-menu {
    display:none;
}

.main-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    /*padding-top:1em;
    padding-bottom:1em;
    padding-left:10px;*/
    padding: 1.1em 0 .5em;
    /* margin-bottom: .6em; */
    /*border-bottom:1px solid transparent;*/
    text-transform: uppercase;
    transition: all 500ms ease-in-out;
}

.main-menu a:after {
    display: block;
    height: 1px;
    background: var(--orange);
    content: '';
    width: 0;
    transition: all 500ms ease-in-out;
    position: relative;
    bottom: -5px;
}

.main-menu a:hover:after {
    width: 100%;
}

.main-menu a:hover {
    color: var(--orange);
}

/*SZEKCIÓCÍM BLOKKOK*/
.section-title {
    margin: 0 auto 45px;
    text-align: center;
    /*ideiglenes padding hogy a szekciók főcimei ne csusszanak a menü alá navigációnál*/
    /* padding-top:65px; */
    color: var(--dark);
}

.section-title > .subtitle {
    text-transform:lowercase;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight: bold;
    color:var(--orange);
}
.section-title > .subtitle:before,
.section-title > .subtitle:after {
    width:2em;
    height:2px;
    background: var(--orange);
    display:inline-block;
    content:'';
    margin:0 1em;
}

.section-title > h2 {
    text-transform:uppercase;
    margin:5px auto;
}

/*mobile first*/
img {
    max-width:100%;
}
.lightBG {
    background: var(--lightgrey);
}
/*flex boxok működése*/
.flex-container > .box {
    flex:1;
}
#about .flex-container > .box:first-child {
    flex:0 0 65%;
    padding: 0 15px;
}
#about .flex-container > .box:nth-child(2){
    text-align: center;
}

#about .flex-container > .box:nth-child(2) > img {
    border-radius: 15rem;
    height: 60vh;
}

/*personal info lista elemei*/
.personal-info {
    margin:30px auto;
}
.personal-info > li {
    padding:10px 0;
    border-bottom:1px solid #e1e1e1;
}
.personal-info > li::first-letter {
    text-transform: uppercase;
}
.personal-info > li > span {
       color: var(--dark);
}

/*SKILL*/
#skill .bar {
    height:1em;
    background: grey;
}
#skill .bar > .inner {
    height:100%;
    width: 0;
    background-color: var(--orange);
    border-radius: 5px;
    transition: width 2s ease-in-out;
}

.skill-bars {
    list-style-type: none;
    padding: 0;
}

.skill-bars .title {
    color: var(--dark);
    display:flex;
    justify-content:space-between;
    text-transform:uppercase;
    font-weight: bold;
    margin: 15px 0 5px;
}

#skill .progress-bar {
    background-color: #e0e0e0; /* háttérszín */
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
}

#skill > footer {
    background:var(--dark);
}

#experience {
    background: url("/images/03.jpg") no-repeat center fixed
}

.grid-container {
    display: grid;
    grid-gap: 15px;
}

/*contact info + social*/
.info > li {
    padding-bottom: 15px;
}
.info > li > b {
    color: var(--dark);
    display: block;
}
.info>.social > a{
    color: var(--dark);
    display: inline-block;
    font-size: 1.3em;
    margin: 5px;
    margin-right: 10px;
    transition: color 750ms ease-in-out;
}
.info>.social > a:hover{
    color: var(--orange);
}
input,textarea{
    display: inline-block;
    border: none;
    width:100%;
    height:auto;
    padding: 5px;
    border-bottom: 1px solid var(--lightgrey);
}
input:focus,textarea:focus{
    border-bottom: 1px solid var(--dark);
    transition: all 750ms ease-in-out;
}
::placeholder{
    font-family: var(--main-text);
    color: var(--base-text);
}
:focus{
    border: none;
    outline: none;
}
.cards {
    display:grid;
    grid-template-columns:1fr;
}

.card {
    padding-top: 15px;
    text-align: center;
}

.cards > .card > .box{
    height: 400px;  
    /* background: orange; */
    margin: 0 15px 30px;
    box-shadow: 1px 2px 10px rgba(0,0,0,.18);
}

.cards > .card > .box > h3 {
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 20px;
    font-size: 20px;
    font-weight: 24px;
    margin-bottom: .5rem;
}

.cards > .card > .box > .number {
    position: relative;
    text-align: right;
    border-bottom: 1px dotted var(--shadow);
}

.cards > .card > .box > div > strong {
    display: inline-block; /* Szükséges, hogy a transform működjön */
    position: relative;
    font-size: 42px;
    top: 25px;
    z-index: 1;
    transition: transform 0.3s ease;
    padding-right: 20px;
    color: var(--shadow);
}
.card:hover strong {
    transform: translateY(-15px);
}

.icon {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    font-size: 42px;
    background-color: var(--orange);
    color:#fff;
    padding-top: 1rem;
    transition: transform 0.6s ease;
}

.card:hover .icon {
    transform: rotateY(180deg);
}

.card > .box > p {
    padding: 20px 20px;
}

.portfolio-items {
    display: grid;
    grid-template-columns:1fr;
    /* background-color: orange; */
}

.portfolio-item {
    position: relative;
    margin: 0 15px;
    margin-bottom: 30px;
}

.portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transform: scale(0);
    opacity: 0;
    border: 1px solid var(--orange);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.portfolio-item:hover .portfolio-hover {
    transform: scale(1);
    opacity: 1;
}

.hover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

/*tablet*/
@media screen and (min-width: 768px) {

    .grid-1-2{
        grid-template-columns: 1fr 2fr;
    }
    .grid-1-1{
        grid-template-columns: 1fr 1fr;
    }
    .contact-form > label:nth-child(3),
    .contact-form > label:nth-child(4){
        grid-column: 1/3;
    }
    .contact-form>.btn{
        border: none;
        justify-self: start;
    }
    .cards{
        grid-template-columns: repeat(2,1fr );
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    #main-header .container{
        width: 100%;
    }

    .menu-toggle {
        right: 3.1rem;
    }

    .hero-title, .hero-rotator {
        font-size:30px;
    }

    #hero > .container > p {
        width: 71%;
        font-size:16px;
    }

    .hero-rotator > span {
        left: 6.1rem;
    }

    .btn {
        padding: 10px 30px;
        font-size:14px;
        font-family: 'Open Sans', sans-serif;
        border-radius: 0px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .section-title {
        max-width:70%;
    }

    .personal-info {
        columns: 2;
        column-count: 2;
        column-gap: 30px;
    }

    .portfolio-items{
        grid-template-columns: repeat(3,1fr);
    }
}

/*burger menü jelenés*/
@media screen and (min-width: 992px) {
    .flex-container {
        display: flex;
        flex-flow: row nowrap;
    }

    .menu-toggle {
        display: none; /*mert csak mobilon kell*/
    }
    
    .main-menu {
        display: flex !important;
        padding-top: 6px;
    }

    .main-menu a {
        margin-bottom: .6em;
    }

}

/*desktop*/
@media screen and (min-width: 1200px) {
    .container {
        width: 80%;
    }
    .section-title {
        max-width:55%;
    }
    .section-title > h2 {
        font-size: 32px;
    }
    /*hero*/
    .hero-title {
        font-size: 30px;
    }

    .hero-rotator {
        font-size: 40px;
        line-height: 38px;
    }

    .hero-rotator > span {
        left: 8rem;
    }
    .cards{
        grid-template-columns: repeat(3,1fr);
    }
}
